body
{
    padding: 0;
    margin: 0;
    font-family: 'Crete Round';
    overflow-x: hidden;
}
hr
{
    padding: 0;
    margin: 0;
    height: 5px;
    border: none;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

#header
{
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
    width: auto;
    height: 60px;

    background-color: rgba(163,22,33,0);
    margin: 0;

    z-index: 999;
}

#header h1
{
    position: absolute;
    top: 0;
    left: 15px;
    height: 45px;
    padding: 0;
    margin: 0;
    font-size: 45px;
    color: #FCF7F8;
}

#header ul
{
    font-size: 30px;
    position: absolute;
    right: 0;
    top: calc(50% - 15px);
    list-style: none;
    padding: 0;
    margin: 0;
}

#header li
{
    padding: 0;
    margin: 0;
    display: inline;
    margin-right: 15px;
    color: #FCF7F8;
    text-decoration: none;
    cursor: pointer;
}

#header li:hover
{
    color: #CED3DC;
}

#header a
{
    color: #FCF7F8;
    text-decoration: none;
}

#header a:hover
{
    color: #CED3DC;
}

#header hr
{
    background-color: #4E8098;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
}

/* --- HOME --- */

#home
{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#home img
{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

/* --- ABOUT --- */

#about
{
    background-color: #CED3DC;
    height: auto;
    padding: 0;
    margin: 0;
    background-image: url(img/simple.png);
    box-shadow: 0 5px 10px black;
}

#about img
{
    position: absolute;
    top: calc(150vh - 100px);
    left: calc(25% - 200px);
    padding: 0;
    margin: 0;
    border: 5px solid #FCF7F8;
    border-radius: 100px;
}

#about h1
{
    padding: 0;

    color: #A31621;
    font-size: 40px;

    width: auto;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 40px;
    font-variant:small-caps;
}

#about p
{
    color: #4E8098;
    max-width: 80vw;
    width: 500px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 40px;
    text-align: justify;
    padding-bottom: 100px;
}

.invisible
{
    display: none;
}

/* --- PROJECTS --- */

#projects
{
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
}

#projects hr
{
    background-color: #4E8098;
}

#projects>img
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: /*190px*/0;
    z-index: -999;
}

#projects h1
{
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
    color: #A31621;
    padding: 50px 0 10px 0;
}

#projects h2
{
    text-align: center;
    margin: 0 auto;
    font-weight: lighter;
}

#proj
{
    /*width: 80vw;
    height: calc(80vw * 9 / 16);*/
    width: calc((100vh - 65px) * 16 / 9);
    height: calc(100vh - 65px);
    padding: 0;
    margin: 50px auto;
    border: 2px solid #A31621;
    box-shadow: 5px 5px 5px black;
    position: relative;
}

#proj img
{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
/*
#proj-info
{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 60%;
    color: #4E8098;
    max-width: 100vw;
}
    */

#proj h3
{
    position: absolute;
    bottom: 29px;
    left: 5px;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    color: #FCF7F8;
    font-size: 4ch;
}

#proj p
{
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    height: 24px;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #4E8098;
    border: 2px solid gray;
}

/* --- CONTACT --- */

#contact
{
    background-color: #CED3DC;
    height: auto;
    padding: 0;
    margin: 0;
    background-image: url(img/simple.png);
    box-shadow: 0 -5px 10px black;
}

#contact h1
{
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
    color: #A31621;
    font-size: 40px;
    font-variant: small-caps;
}

#contact ul
{
    width: calc((10vh + 50px) * 3);
    list-style: none;
    max-width: 80vh;
    margin: 0 auto;
    padding-bottom: 50px;
}

#contact ul li 
{
    display: inline;
    margin: 0 20px;
}

#contact ul img
{
    width: 10vh;
    height: 10vh;
    transition: transform ease 0.4s;
}

#contact ul img:hover 
{
    transform: scale(1.2);
}

/* --- FOOTER --- */

#footer
{
    background-color: #4E8098;
    color: #FCF7F8;
    font-weight: lighter;
    padding: 0;
    width: auto;
    height: auto;
    text-align: center;
    margin: 0;
}

#footer hr
{
    background-color: #A31621;
}

#footer h2
{
    font-size: 12px;
    padding: 0;
    margin: 0 auto;
    padding: 60px 0 0 0;
}

#footer h1
{
    font-size: 16px;
    padding: 10px 0 50px 0;
    margin: 0 auto;
}