/*
    Michal Jez

    Stylesheet for the About page
*/

body {
    /*background-color: #af1b1b;*/
    background-image: url("../img/bg.png");
}

#right {
    position: fixed;
    left: 200px;
    top: 0px;
    width: calc(100% - 200px);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Inside the right div, contains the text */
#about {
    width: 80%;
    margin: 25px auto 0;
}

#about h1, #about h2, #about p {
    font-family: Inconsolata;
}

/* The div that drops down */
#about div:nth-of-type(1) {
    padding: 10px;
    background-color: rgba(240, 237, 240, 1);
    border-left: 2px solid #2d2d28;
    border-top-left-radius: 25px; 
    border-top: 2px solid #2d2d28;
    border-top-right-radius: 25px; 
    border-right: 2px solid #2d2d28; 
    border-bottom: 4px solid #2d2d28; 
    margin-bottom: 10px;
    box-shadow: 0 2px 20px #2d2d28;
    margin-top: -100px;
    transition: margin-top ease 2s;
}

#about div:nth-of-type(1).onscreen {
    margin-top: 0px !important;
}

#about h1 {
    width: auto;
    font-size: 30px;
    text-align: center;
    height: 30px;
    color: #af1b1b;
}

#about h2 {
    font-size: 25px;
    text-align: left;
    margin-left: 75%;
    height: 25px;
    color: rgba(45, 45, 40, 0);
    -webkit-transition: color ease-out 1s !important;
    -moz-transition: color ease-out 1s !important;
    -o-transition: color ease-out 1s !important;
    transition: color ease-out 1s !important;
}
#about h2.onscreen {
    color: rgb(45, 45, 40);
}

#about div:nth-of-type(2) {
    padding: 10px;
}

#about p {
    margin-left: 125vw;
    width: 100%;
    color: #f0edf0;
    font-size: 20px;
    text-align: justify;
    line-height: 1.2;
    -webkit-transition: margin-left ease-out 2s !important;
    -moz-transition: margin-left ease-out 2s !important;
    -o-transition: margin-left ease-out 2s !important;
    transition: margin-left ease-out 2s !important;
}
#about p.onscreen {
    margin-left: 0 !important;
}