/*
    Michal Jez

    Stylesheet for Home page
*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    z-index: -1;
}

#bg {
    position: fixed;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 0;
    opacity: 0;
    transition: opacity ease-in-out 5s;
}

#bg.onscreen {
    opacity: 1 !important;
}

#right {
    position: fixed;
    left: 200px;
    top: 0px;
    width: auto;
    height: 100%;
}

#greeting {
    z-index: 999;
    width: 80%;
    min-width: 80%;
    margin:  auto;
    overflow: initial;
}

#greeting h1, #greeting h2 {
    z-index: 999;
    font-family: Roboto;
    font-weight: normal;
}

#greeting h1 {
    color: #af1b1b;
    font-size: 50px;
    text-align: center;
    text-shadow: #2d2d28 2px 2px 2px;
    padding: 10px;
}

#greeting h2 {
    color: #2d2d28;
    text-align: justify;
}