/*
    Michal Jez

    Stylesheet for the Contact page
*/

body {
    background-image: url("../img/bg.png");
    font-family: Roboto;
}

#right {
    position: absolute;
    left: 250px;
    top: 50px;
    right: 50px;
    bottom: 50px;
}

h1 {
    color: #af1b1b;
}

h2 {
    color: #30a1aa;
}

#header {
    position: absolute;
    top: 50px;
    left: 100px;
    right: 100%;
    opacity: 0;
    height: 200px;
    width: 0;
    background-color: #f0edf0;
    border: 2px solid #2d2d28;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: 0;
    padding: 0;
    transition: padding-left ease 1s, right ease 1s, display;
    overflow: visible;
}

#header.onscreen {
    width: auto !important;
    right: 0 !important;
    padding-left: 100px;
    display: block;
    opacity: 1;
}

#header * {
    opacity: 0;
    transition: opacity ease 2s;
}

#header *.onscreen {
    opacity: 1;
}

#links {
    position: absolute;
    left: 100px;
    right: 0px;
}

#right h1 {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    color: #f0edf0;
    text-shadow: 4px 4px 2px #2d2d28;
    transition: top ease 0.5s;
    opacity: 0;
}
#right h1.onscreen {
    top: 0px !important;
    opacity: 1;
}

#right h2 {
    position: absolute;
    color: #f0edf0;
    top: 215px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    text-shadow: 2px 2px 2px #2d2d28;
    transition: top ease 0.5s;
    opacity: 0;
}
#right h2.onscreen {
    top: 265px !important;
    opacity: 1;
}

#right h2 span {
    text-shadow: 2px 2px 0px #2d2d28;
}

#profile-pic {
    position: absolute;
    top: 50px;
    left: -600px;
    border: 2px solid #2d2d28;
    border-radius: 100px;
    z-index: 999;
    transition: left ease-out 1s;
}

#profile-pic.onscreen {
    left: 0px !important;
}

#links {
    width: inherit;
    text-align: right;
    margin-top: 50px;
}

#links a {
    margin: 0 calc((100% - 150px) / 10);
    transform-origin: 50% 50%;
    transition: transform ease 0.5s;
}
#links a:first-child {
    margin-left: 0;
}
#link a:last-child {
    margin-right: 0;
}

#links a img {
    width: 80px;
    height: 80px;
    transition: transform ease 0.25s;
}

#links a img:hover {
    transform: scale(1.25);
}

span {
    font-family: Inconsolata;
    font-style: italic;
}

canvas {
    position: absolute;
    top: 250px;
    width: 100%;
    height: calc(100vh - 350px);
    background-color: blue;
}