/*
    Michal Jez

    Stylesheet for Portfolio page
*/

body {
    background-image: url(../img/bg.png);
}

#right {
    position: fixed;
    left: 200px;
    top: 0px;
    width: calc(100% - 200px);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#right ul {
    width: 100%;
    margin: 25px auto;
}

#right li {
    list-style: none;
    width: 90%;
    margin: 500px auto 25px;
    opacity: 0.0;
    height: 100%;

    transition: margin-top ease 1s,
        opacity ease-in 0.75s;
}

#right li.onscreen {
    margin-top: 0 !important;
    opacity: 1 !important;
}

img.normal {
    width: 30%;
    height: 200px;
    border: 4px solid #30a1aa;
    border-right: 8px solid #30a1aa;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 5px 0 20px rgba(45, 45, 40, 0.5);
    cursor: pointer;
    cursor: zoom-in;
}

div.fullscreen {
    overflow: hidden;
    width: 100vh;
}

img.fullscreen {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    cursor: pointer;
    cursor: zoom-out;
    animation: enlargeImage 0.5s ease-in;
    animation-direction: alternate;
    z-index: 1000;
    border: 5px solid #2d2d28;
    border-top: none;
    box-shadow: 0px 5px 50px rgba(45, 45, 40, 1)
}

@keyframes enlargeImage {
    0% { 
        top: -1000px;
    }
    100% {
        top: 0px;
    }
}

li div {
    float: right;
    width: calc(70% - 34px);
    background-color: #f0edf0;
    height: 184px;
    margin: auto;
    padding: 10px;

    border: 2px solid #30a1aa;
    border-left: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    overflow-y: auto;
}

#right a, p {
    font-family: Inconsolata;
}

#right a {
    color: #af1b1b;
    font-size: 25px;
    text-decoration: underline;
}

#right p {
    color: #2d2d28;
    padding-top: 5px;
    text-align: justify;
}